extends layout


block content

  //- Products section
  div.d-flex.justify-content-center
    h1 #{title}
  div.d-flex.justify-content-center
    p Welcome to #{title}

  //- Products
  .row 
    each product in products
      .col-6.col-md-4
        .row
          .d-flex.justify-content-center 
            img.products-image(src = product.image_url)
        .row
          .d-flex.justify-content-center 
            p.color-purple #{product.name} - #{product.price}
          .d-flex.justify-content-center 
            p= product.description
      

        
