extends layout


block content


  //- Sections
  each seccion, index in secciones
    if(index!=0)
      hr
      br
    div
      div.d-flex.justify-content-center
        h1.color-purple #{seccion.titulo}
      div.d-flex.justify-content-center
        p.lead #{seccion.descripcion}

      //- Products
      .container
        .row
          each producto in seccion.productos
            .col-12.col-lg-4.products-product
              .p-4.border.bg-cream
                .text-center(style="height: 27vw")
                  .dflex.flex-column 
                    img.card-img-top.products-image(src = producto.urlImagen)
                    .card-body
                      h5.products-name-cost #{producto.nombre} - $#{producto.precio}
                      p #{producto.descripcion}

                .d-flex.justify-content-around
                  //- POST a /shoppingCart/addProduct para agregar el producto
                  form.lead(action="/shoppingCart/addProduct", method="post", role="form")
                    input(type='hidden', name='productid', value=producto._id)
                    input(type='hidden', name='sectionid', value=seccion._id)
                    input.btn.btn-outline-dark.btn-sm(type='submit', value='Agregar al carrito') 
              br
          
                