extends layout


block content


  //- Products Sections
  each section in sections
    div.products-section
      div.d-flex.justify-content-center
        h1.color-purple #{section.title}
      div.d-flex.justify-content-center
        p.lead #{section.description}

      //- Products
      .row 
        each product in section.products
          .col-12.col-lg-4
            .row
              .d-flex.justify-content-center 
                img.products-image(src = product.image_url)
            .row
              .d-flex.justify-content-center 
                p.products-name-cost #{product.name} - #{product.price}
              .d-flex.justify-content-center 
                p.lead= product.description
        

        
