extends layout

block content
  
  div.d-flex.justify-content-center
    h1.color-purple #{titulo}
    
  //- Muestro los productos del carrito
  hr.featurette-divider
  each producto in productos
    .row.featurette.p-t-5
      .col-md-2.order-md-1.pb-2
        img#image(src = producto.urlImagen width='150' height='150' alt='' p-e-2).mx-auto.m-auto.d-block
      .col-md-3.order-md-2.d-flex.align-items-center.py-1
        h5.lead  #{producto.nombre}
          //- p.lead #{producto.descripcion}

      .col-md-2.order-md-2.d-flex.justify-content-evenly.align-items-center.py-1
        input.form-control(form=`editProduct${producto._id}`, type='number', min=1, max=producto.stock, value=producto.cantidad name='cantidad')
        //- select.form-control(form="editProduct", name='cantidad')
        //-   - let num = 0
        //-   while num <= producto.stock
        //-     option(selected=(num === producto.cantidad)) #{num}
        //-     - num++

      .col-md-2.order-md-2.d-flex.justify-content-right.align-items-center.py-1
        b.lead  $#{producto.precio.toFixed(2)}

      .col-md-1.order-md-2.d-flex.justify-content-right.align-items-center.py-1
        //- Boton actualizar hace POST a /shoppingCart/addProduct
        form.lead(id=`editProduct${producto._id}`, action="/shoppingCart/editProduct", method="post", role="form")
          input(type='hidden', name='productid', value=producto._id)
          input(type='hidden', name='sectionid', value=producto.sectionid)
          input.lead.button.btn.btn-sm.bg-dark.text-white(type='submit', value='Actualizar') 

      .col-md-1.order-md-2.d-flex.justify-content-right.align-items-center.py-1
        //- Boton eliminar hace POST a /shoppingCart/removeProduct
        form.lead(action="/shoppingCart/removeProduct", method="post", role="form")
          input(type='hidden', name='productid', value=producto._id)
          input(type='hidden', name='sectionid', value=producto.sectionid)
          input.lead.button.btn.btn-sm.bg-purple.text-white(type='submit', value='Eliminar') 

    hr.featurette-divider
  
        
  .container.marketing.bg-light.rounded-bottom.py-4
    .row
    
      .col-lg-4.d-flex.justify-content-evenly.align-items-center.py-2
        p
          a.lead.button.btn.btn-sm.bg-light.border.border-dark(href='/products') Ver Productos

      .col-lg-4.d-flex.justify-content-evenly.align-items-center.pb-2
          
        b.pl-md-4 Total: 
              span.pl-md-4 $#{total}

      .col-lg-4.d-flex.justify-content-evenly.align-items-center.py-2
        
        form(action='/checkout' method= 'POST' role= 'form')
          input(type='hidden', name='productos', value=productos)
          input(type='hidden', name='total', value=total)
          button.lead.btn.btn-sm.bg-dark.text-white.px-lg-5.px-3(href='/checkout') Continuar
  

  
  